h1 {
  color: #490E72;
  text-align: center;
}

body {
  color: #490E72;
}

p {
  border-style: double;
  border-color: #490E72;
  border-width: 5px;
  padding: 10px;
}

p:hover {
  background-color: yellow;
}
