body {
  margin: 0;
}

a {
  text-decoration: none;
}

.selected {
    color: #490E72;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #490E72;
  color: #EEEEEE;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 51px;

  position: relative;
}

nav a {
  color: #BDBDBD;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #FEFF18;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #FEFF18;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

html {
  padding-bottom: 50px;
}
